.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1650px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.9);
}
.dashboard-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Ensure container is positioned relatively */
}

.dashboard-car {
  position: absolute;
  width: 100%;
  height: 400px;
  display: grid;
  grid-gap: 10px;
  max-width: 1300px;
  margin: auto;
}

/* Generel typografi og layout */
body {
  font-family: "Arial", sans-serif; /* Arial skrifttype anvendes */
  text-align: center; /* Centrerer tekst */
  color: #333; /* Mørkegrå farve for tekst */
  background: #fff; /* Hvid baggrund */
  padding: 20px; /* Polstring rundt om indholdet */
}

/* Stil for overskriften */
.header {
  font-size: 30px; /* Større skriftstørrelse for overskriften */
  font-weight: bold; /* Gør teksten fed */
  margin-bottom: 1px; /* Margen under overskriften */
  color: black;
}

/* Stil for det store tal */
#numberone {
  font-size: 72px; /* Stor skriftstørrelse for tal */
  font-weight: bold; /* Gør tallet fed */
  color: #0096c7; /* Rød farve for tal */
  margin-bottom: 1px; /* Margen under tallet */
}

#numbertwo {
  font-size: 72px; /* Stor skriftstørrelse for tal */
  font-weight: bold; /* Gør tallet fed */
  color: #ffa406; /* Rød farve for tal */
  margin-bottom: 1px; /* Margen under tallet */
}
/* Stil for den sekundære tekst */
.subtext {
  font-size: 2.1vh; /* Mindre skriftstørrelse for sekundær tekst */
  color: #666; /* Lysere grå farve for sekundær tekst */
  font-style: italic; /* Kursiv stil */
}

.full-width {
  grid-column: span 2;
}

/*  */
.dashboard-item img {
  width: 480px;
  height: 269.5px;
  border-radius: 4px;
  padding: 5px;
}

/* Informations knappens instillinger */
.information-picture img {
  position: absolute;
  bottom: 10px; /* Juster afstanden fra bunden efter behov */
  right: 10px; /* Juster afstanden fra højre side efter behov */
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.sortering img {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px; /* Juster afstanden fra bunden efter behov */
  right: 50px; /* Juster afstanden fra højre side efter behov */
}

/* Stil for overlay */
#overlayContentcar {
  display: none; /* Start with hidden overlay */
  position: fixed; /* Fixed position relative to viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-27vw, 370vh); /* Adjust position to truly center */
  background: white; /* Background color */
  padding: 40px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Shadow for a pop-up effect */
  /*z-index: 1000; /* Ensure it's on top of other elements */
  /*text-align: center; /* Center the text inside */
  height: 60vh;
}

/* Add this to style the close button */
#closeOverlaycar {
  border-radius: 50%;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  border: 2px solid gray;
  background-color: lightgray;
  position: relative;
}
#closeOverlaycar:hover {
  border: 2px solid Gray;
  background-color: white;
  color: #ffffff;
  cursor: pointer;
}

#closeOverlaycar::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: gray;
  width: 2px;
  left: 12px;
  top: 5px;
  bottom: 5px;
  transform: rotate(45deg);
}
#closeOverlaycar::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: gray;
  height: 2px;
  top: 12px;
  left: 5px;
  right: 5px;
  transform: rotate(45deg);
}

#popout {
  display: none;
  position: absolute;
  background-color: #ffa406;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#popout2 {
  display: none;
  position: absolute;
  background-color: #0096c7;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#elbilchart,
#brændselchart {
  left: 50px;
}
