body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: #333; /* Mørkegrå farve for tekst */
  background: #fff; /* Hvid baggrund */
}

.quizanswer {
  background-color: #f7f7f7;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.quizanswer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#vegetarvouch {
  background-color: #ffa406;
}

#meatlovervouch {
  background-color: #0096c7;
}

.contentplaceholder {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 64%);
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 1000; /* Ensure it's on top of other elements */
  border: 2px solid #333; /* Add a border */
  height: 60%; /* Adjust the height as needed */
  width: 50%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff; /* A light background to contrast with the text and image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
  padding: 40px; /* Spacious padding for a breathable layout */
  margin: 40px auto; /* Center the container with some margin from the top and bottom */
  max-width: 1000px; /* Maximum width for the container */
  border-radius: 8px; /* Slightly rounded corners for a softer look */
}

.content-text {
  flex-basis: 60%; /* Allocate 60% of the space to the text content */
}

.image-content {
  width: 275px; /* Adjust the maximum width as needed */
  height: 75px; /* Adjust the maximum height as needed */
}

.subtitle {
  color: black;
}

.content-img {
  background-color: white;
  max-width: min-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

#close-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

#close-button:hover {
  color: red;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  margin: auto;
}
.dashboard-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure container is positioned relatively */
}

.full-width {
  grid-column: span 2;
}

/* Stil for overskriften */
.header {
  font-size: 15px; /* Større skriftstørrelse for overskriften */
  font-weight: bold; /* Gør teksten fed */
  margin-bottom: 10px; /* Margen under overskriften */
}

/* Stil for det store tal */
.number {
  font-size: 80px; /* Stor skriftstørrelse for tal */
  font-weight: bold; /* Gør tallet fed */
  margin-bottom: 5px; /* Margen under tallet */
}

#vegetarianNumber {
  color: #ffa406;
}

#meatloverNumber {
  color: #0096c7;
}

/* Stil for den sekundære tekst */
.subtext {
  font-size: 18px; /* Mindre skriftstørrelse for sekundær tekst */
  color: #666; /* Lysere grå farve for sekundær tekst */
  font-style: italic; /* Kursiv stil */
}

img {
  width: 250px;
  height: 250px;
  border-radius: 4px;
  padding: 5px;
}

.informations-billede img {
  position: absolute;
  bottom: 10px; /* Juster afstanden fra bunden efter behov */
  right: 10px; /* Juster afstanden fra højre side efter behov */
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.sort-billede img {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px; /* Juster afstanden fra bunden efter behov */
  right: 50px; /* Juster afstanden fra højre side efter behov */
}

.plate:hover .info {
  visibility: visible;
}

/* Stil for overlay */
#overlayContent {
  display: none; /* Start with hidden overlay */
  position: fixed; /* Fixed position relative to viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  background: white; /* Background color */
  padding: 40px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Shadow for a pop-up effect */
  /*z-index: 1000; /* Ensure it's on top of other elements */
  /*text-align: center; /* Center the text inside */
}

/* Add this to style the close button */
#closeOverlay {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#overlayContentSort {
  display: none; /* Start with hidden overlay */
  position: fixed; /* Fixed position relative to viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  background: white; /* Background color */
  padding: 40px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Shadow for a pop-up effect */
  /*z-index: 1000; /* Ensure it's on top of other elements */
  /*text-align: center; /* Center the text inside */
}

#closeOverlay {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  background: lightsteelblue;
  border: 1px solid #666;
  border-radius: 4px;
  pointer-events: none;
}

.barcharts {
  cursor: pointer;
}

.arrow-down {
  width: 50px;
  height: 50px;
  position: relative;
  transform: translate(-0%, 1400%);
  z-index: 1000;
}

#vegetarian_visualization {
  background-image: url("landscape-cartoon-scene-with-green-trees-on-hills-and-white-fluffy-cloud-in-summer-blue-sky-background-vector.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_for_visualization {
  background-color: rgba(255, 255, 255, 0.9);
  width: 2000px;
  border-radius: 20px;
}

.speech-bubble {
  background-color: #e15554;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 90%;
  left: 95%;
  border-radius: 50px;
  cursor: pointer;
  animation: jump 1s ease-in-out infinite;
}

#icon {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  filter: invert(1);
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
