#navigation {
  position: fixed;
  top: 50%;
  right: 15px;
  list-style-type: none;
  transform: translateY(-50%);
  z-index: 100;
}

#navigation li {
  margin: 10px;
}

#navigation li a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#navigation li a:hover {
  transform: scale(2);
}

#navigation li.active a {
  transform: scale(2);
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: #333;
  background: #fff;
}

.section {
  background-image: url("Background.jpg");
  background-position: center;
  background-size: cover;
}

.quiz {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.9);
  width: 1600px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
}

.quizButton {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  gap: 20px; /* Adjust the space between buttons as needed */
}

.quizTitle {
  font-size: 20px;
  font-weight: bold;
}

.quizanswer {
  font-size: 15px;
}

.dashboard-food {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.9);
}

.dashboard-item-food {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.full-width {
  grid-column: span 2;
}

.header-food {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.number-food {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 5px;
}

#vegetarianNumber {
  color: #ffa406;
}

#meatloverNumber {
  color: #0096c7;
}

.subtext {
  font-size: 18px;
  color: #666;
  font-style: italic;
}

.dashboard-item-food img {
  width: 220px;
  height: 220px;
  border-radius: 4px;
  padding: 5px;
}

.informations-billede img {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.sort-billede img {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.plate:hover .info {
  visibility: visible;
}

#overlayContent {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#closeOverlay {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.tooltip_food {
  position: absolute;
  text-align: center;
  padding: 8px;
  background: lightsteelblue;
  border: 1px solid #666;
  border-radius: 4px;
  pointer-events: none;
}

.barcharts {
  cursor: pointer;
}

.contentplaceholder {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 120%);
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 1000;
  border: 2px solid #333;
  width: 50%;
}

.contentplaceholder img {
  width: 220px;
  height: 220px;
  border-radius: 4px;
  padding: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 8px;
}

.content-text {
  flex-basis: 60%;
}

.image-content {
  width: 275px;
  height: 75px;
}

.subtitle {
  color: black;
  font-size: 20px;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

.content-img {
  max-width: min-content;
}

.header-food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

#close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

#close-button:hover {
  color: red;
}

.quizanswer {
  background-color: #f7f7f7;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  justify-content: center; /* Center horizontally */
}

.quizanswer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#vegetarvouch {
  background-color: #ffa406;
}

#meatlovervouch {
  background-color: #0096c7;
}

#vegetarvouch-result {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.9);
  text-align: center; /* Centrer tekst */
  font-size: 40px; /* Skriftstørrelse */
  color: #333; /* Tekstfarve */
  width: 1600px;
  margin: auto;
  margin-top: 35px;
}

#meatlovervouch-result {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.9);
  text-align: center; /* Centrer tekst */
  font-size: 40px; /* Skriftstørrelse */
  color: #333; /* Tekstfarve */
  width: 1600px;
  margin: auto;
  margin-top: 35px;
}

.quizbarchart {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.9);
  width: 1600px;
  margin: auto;
}

.largeQuizTitle {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.9);
  width: 1600px;
  margin: auto;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.arrow-down {
  width: 50px;
  height: 50px;
  position: relative;
  transform: translate(-0%, 1400%);
  z-index: 1000;
}
